*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: Arial;
  max-width: 400px;
  margin: auto;
}
.container{
  background-color: lightblue;
  border: 4px solid blue;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.center{
  background-color: lightpink;
  border: 6px solid darkred;
  height: 100px;
  width: 100px;
  text-align: center;
  font-weight: bold;
}